<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"  
    xmlns:beans="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security.xsd">  
    
    <http auto-config="true">
    <intercept-url  pattern="/admin" access="hasRole('ROLE_ADMIN')"/>
    <!-- <form-login login-page="login.jsp"/> -->
    </http>
	<authentication-manager>
		<authentication-provider>
		<password-encoder hash="bcrypt"/>
			<user-service>
				<user name="admin" password="$2a$10$p8Z.F2/h1.tiOnv2J8s4UOhJ0GY.bDZQ8k9mDm4fMkjf6eNk.oFoy" authorities="hasRole('ROLE_ADMIN')"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>
    </beans:beans>
    